<%= form_with model: [post, comment], local: true do |form| %>
    <div>
      <%= form.label :content, "Seu Comentário" %>
      <%= form.text_area :content, placeholder: "Digite aqui..." %>
    </div>
    <div>
      <%= form.submit "Comentar", class: "btn" %>
    </div>
  <% end %>
  