<p style="color: green"><%= notice %></p>

<% content_for :title, "Postagens" %>

<h1>Postagens</h1>

<div id="posts">
  <% @posts.each do |post| %>
      <div class="post">
        <%= render post %>
        <p>
          <%= link_to "Mais sobre o post", post, class: "btn btn-primary" %>
        </p>
      </div>
    <% end %>
</div>

<p>
  <%= link_to "Criar Postagem", new_post_path, class: "btn btn-secondary" %>
</p>